{% from 'bootstrap5/nav.html' import  render_nav_item %}
{% from 'bootstrap5/utils.html' import render_messages %}
<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	{{ bootstrap.load_css() }} 
    <link rel="icon" href="{{ url_for('static', filename='favicon.png') }}">	
	<link rel="stylesheet" href="{{ url_for('static', filename='app.css') }}">
	<title>
		{% block title %} {%endblock%}		
	</title>
	<style>
		{% block style %} {%endblock%}		
	</style>
	{% block javascript %} {%endblock%}		
</head>

<body >
	<!--<div class="mx-auto" style="height: 10px;">  
	</div>-->

    <main class="container">
		<ul class="nav nav-pills justify-content-right d-flex flex-row">
			{% block pre_extra_menu %}{% endblock %}
			<li>
			{{ render_nav_item('decoder.decoder', 'Дешифратор') | safe}}
			</li>
			<li>
			{{ render_nav_item('codes.codes', 'Назначить') | safe}}
			</li>
			{% block after_extra_menu %}
			{% endblock %}
			<li>
			
			</li>
	<!--		<li>
                <a class="navbar-brand" href="#"><img 
                    src= {{url_for('static', filename='favicon.png')}} 
                    alt="" width="30vh" 
                    height="30vh">
                </a>
			</li>-->
		</ul>
			
        {{ render_messages(container=False, dismissible=True, dismiss_animate=True) }}
        {% block content %}{% endblock %}
    </main>
	
    <footer class="text-center">
        {% block footer %}
            <small> &copy; 2022–<script>document.write(new Date().getFullYear())</script> <a href="https://uslugi.yandex.ru/profile/DemichevIlya-1167323">ILYA D.</a>
            </small>
        {% endblock %}
    </footer>
	
	{% block otherscripts %}
	{% endblock %}

    {% block tail %}
    {% endblock %}

    {{ bootstrap.load_js() }} 

</body>

</html>